<div class="container">
    <h1 class="container__title">Our Whiskey's Selection</h1>
    <form id="filter_form" class="form_container_buscar">
        <h2 class="form_title">Buscar</h2>
        <div id="formGroup" class="formGroup_buscar">
            <input id="title_input" type="text" placeholder="------Ingrese una letra, silaba o palabra------">
        </div>
        <div id="btn_filter" class="btn_container_buscar">
            <button type="submit" class="btn_set_buscar">BUSCAR</button>
        </div>
    </form>
    <div class="cards_container">
        <div class="banner">
            <img src="/images/banner.jpg" >
            <div class="banner_text">
                <p>SELECTED PRODUCTS</p>
            </div>
        </div>
        <div class="slider">
            <div class="button_container_left">
            <button id="left" onclick="prevPage({{products.hasPrevPage}}, {{products.prevPage}})" class="nav_button">←</button>
            </div>
            {{#each products.docs}}
                <div class="card">
                    <div class="image_container">
                        <img class="image"  src="/images/{{thumbnail.[0]}}" alt={{title}}>
                    </div>
                    <hr>
                    <div class="details_container">
                        <div class="card_title">{{title}}</div>
                        <div class="card_price">${{price}}</div>
                        <div class="btn_container">
                            <button class="btn-agregar">AGREGAR AL CARRITO</button>
                        </div>
                    </div>
                </div>
            {{/each}}
            <div class="button_container_right">
                <button id="right" onclick="nextPage({{products.hasNextPage}}, {{products.nextPage}})" class="nav_button" >→</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/products.js"></script>